.gameForm {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 0.7rem;
}

.inputGroup {
  display: flex;
  gap: 0.15rem;
}

.highlightedPhrase {
  display: inline-block;
  flex: 0 0 auto;
  margin: 0;
  padding: 0.8rem;
  background-color: var(--color-highlight-bg);
  color: var(--color-accent);
}

.following {
  padding-right: 0.4rem;
  border-radius: 0.3rem 0 0 0.3rem;
}

.preceding {
  padding-left: 0.4rem;
  border-radius: 0 0.3rem 0.3rem 0;
}

.input {
  flex-grow: 1;
  padding: 0.8rem 0.4rem;
  border: 1px solid var(--color-border);
  border-radius: 0 0.3rem 0.3rem 0;
  font-size: 1rem;
}

.inputFollowing {
  border-radius: 0 0.3rem 0.3rem 0;
}

.inputPreceding {
  border-radius: 0.3rem 0 0 0.3rem;
}
